*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* using border-box so that padding always stays inside border */
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
  color:white;
  font-size: 20px;
  font-weight:bold ;
  background-color: #e16512;
  border:none;
  border-radius: 5px;
  padding:18px 35px;
  cursor:pointer;
}
.section-heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}
.section-heading h2{
  font-size: 35px;
  margin-bottom: 30px;
}
.section-heading p{
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color:#757575;
}
/* main style */
header{
  background-color: #b87c60;
  padding-top: 50px;
  background: url(../images/developer.png) ,url("../images/header_bg.png") ,#b87c60 ;
  background-position: top left,bottom right;
  background-repeat: no-repeat;
}
.logo h2{
  font-size: 45px;
  font-weight: 900px;
}
.color-orange{
color: #e16512;
}

nav{
  width:71%;
  /* puro device er viewport 1600px, tar 71% space niye nibe and max 1140px er moddhei thakbe. */
  max-width: 1140px;
  /* border: 1px solid rebeccapurple; */
  margin: 0px auto;
  /* used this margin ratio so that contents stays in the middle */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* parent class */
nav .menu{
display: flex;
list-style-type: none;
gap: 51px;
align-items: center;
}
nav .menu a{
color:darkblue;
text-decoration: none;
}
#banner{
/* border:1px solid rebeccapurple; */
margin:47px 38px 0 230px;
display: flex;
justify-content: space-between;
align-items: center;
}
#banner .banner-content{
  max-width:585px;
}

#banner .banner-content h2{
font-size: 45px;
font-weight: 600;
color: #474747;
margin:5px;

}
#banner .banner-content h1{
  font-size:85px;
  font-weight:bold;
  color:#181818;
  margin-bottom: 20px;
}
#banner .banner-content p{
  font-size: 18px;
  color: #757575;
  line-height:30px;
  margin-bottom: 30px;
}
#banner .banner-image img{
  max-width: 585px;
  vertical-align: middle;
  /* image use korle oneksomoy gap chole ashe.gap remove korte vertical align middle use kora hoyeche */
}
#about{
  padding-top:130px;
}
#about .about-container{
  width:71%;
  max-width: 1140px;
  margin:0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding:130px 156px;
}
#about .about-container .about-info{
  display: flex;
justify-content: space-around;
}
.about-info .info-card p{
   font-size: 20px;
  line-height: 30px;
  color:#757575;
}
#skills{
  padding:130px;
}
#skills .skills-container{
  width:71%;
  max-width: 1140px;
  margin: 0 auto;
}
 #skills .skills-container .skill-box{
  display: flex;
  gap:24px;
}
  .skill-box .skill-card{
  padding: 30px;
  border:1px solid firebrick;
  max-width: 267px;
  box-shadow: 0 6px 50px 0 #000000;

 }
 .skill-card image{
  max-width: 44px;
  margin-bottom: 30px;
 }
 .skill-card h3{
  font-size: 20px;
  color:#181818;
  margin-bottom: 20px;
 }
 .skill-card p{
   font-size: 18px;
  color: #757575;
  line-height:28px;
 }
